@import "tailwindcss";

@layer base {
  :root {
    --background: #101014;
    --foreground: #fff;
    @apply px-[200px] py-[80px]
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-figtree: var(--font-figtree);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-figtree)
  }
}

@layer utilities {

}
